<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Confirmación de Compra</title>
    <style>
        /* Global Styles */
        body {
            font-family: "Nunito Sans", sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Container Styles */
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #202020 ;
            padding: 20px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }

        /* Header Styles */
        .header {
            text-align: center;
            margin-bottom: 40px;
        }

        .header img {
            width: 300px;
            height: auto;
        }

        /* Content Styles */
        .content {
            margin-bottom: 20px;
        }

        .content h2 {
            color: #FF4163;
            margin: 0;
            font-size: 60px;
            margin-bottom: 20px;
        }

        .content p {
            color: #aaaaaa;
            margin-bottom: 16px;
            font-size: 28px;
        }

        .content p.marked-text {
            color: white;
        }

        .content ul {
            color: #ffffff;
            margin-bottom: 16px;
            padding-left: 20px;
            font-size: 22px;
        }

        .content ul li {
            margin-bottom: 8px;
        }

        .content a {
            color: #007bff;
            text-decoration: none;
        }

        /* Footer Styles */
        .footer {
            text-align: center;
            font-size: 12px;
            color: #888888;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src='https://res.cloudinary.com/highdatamx/image/upload/v1678250963/WEB_ASSETS/wanevdhmy6s4d9q99kyt.png' >
        </div>
        <div class="content">
            <h2>!Tu pedido se realizó con Éxito!</h2>
            <p>Gracias por tu compra, el folio es <span style="font-weight: 600; color: white">{{syscomOrderId}}</span>. Guarda este correo para futuras aclaraciones.</p>
            <p>Datos de tu compra:</p>
            <ul>
                <li><strong>Producto:</strong> {{product}}</li>
                <li><strong>Cantidad:</strong> {{quantity}}</li>
                <li><strong>Pagado:</strong> {{ammount}} MXN</li>
                <li><strong>Fecha de Compra:</strong> {{date}}</li>
            </ul>
            <p>Pronto recibirás un whatsapp en el número <span style="font-weight: 600; color: white">{{phone}}</span> y al correo <span style="font-weight: 600; color: white; text-decoration: none;">{{email}}</span> con tu código de rastreo para que puedas monitorear tu pedido en cualquier momento.</p>
            <p>Si tienes alguna pregunta o necesita asistencia adicional, no dudes en ponerte en contacto con nuestro servicio de atención al cliente. Estaremos encantados de ayudarte.</p>
            <p class="marked-text">¡Gracias nuevamente por su compra!</p>
            <p>Atentamente,</p>
            <p>HighData</p>
        </div>
        <div class="footer">
            <p style="margin-top: 3rem; color: grey; font-weight: 800;  font-size: 20px;">Este es un mensaje automático. Por favor, no responda a este correo electrónico.</p>
            <p style="margin-top: 1rem; color: grey; font-weight: 800;  font-size: 20px;">Consulta nuestros <span><a target="_blank" href="https://highdatamx.com/#terminos-y-condiciones" style="color: #FF4163; text-decoration: none;">términos y condiciones</a></span> así como la <span><a target="_blank" href="https://highdatamx.com/#terminos-y-condiciones" style="color: #FF4163; text-decoration: none;">declaración de privacidad</a></span></p>
        </div>
    </div>
</body>
</html>