<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Confirmación de Compra</title>
    <style>
      /* Global Styles */
      body {
        font-family: "Nunito Sans", sans-serif;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
      }

      /* Container Styles */
      .container {
        max-width: 700px;
        margin: 0 auto;
        background-color: #202143;
        padding: 50px 60px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      }
      .container-precio {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
        text-align: right;
      }
      .container-precio ul {
        list-style: none;
      }

      /* Header Styles */
      .header {
        text-align: left;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        color: white;
      }

      .header img {
        width: 80px;
        height: auto;
      }

      .date-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .date,
      .cotizacion {
        line-height: 0.1rem;
        font-weight: 300;
        font-size: 12px;
      }

      /* Content Styles */
      .content {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
      }

      .content h2 {
        color: #ff4163;
        margin: 0;
        font-size: 18px;
        align-self: center;
      }

      .content p {
        color: white;
        margin-bottom: 16px;
        font-size: 16px;
      }
      p.anuncio {
        font-size: 12px;
        color: #aaaaaa;
        
      }

      .content p.marked-text {
        color: #aaaaaa;
        margin-top: 60px;
      }

      .content ul {
        color: #aaaaaa;
        margin-bottom: 16px;
        padding-left: 20px;
        font-size: 14px;
      }

      .content ul li {
        margin-bottom: 8px;
        color: #ff4163;
        font-size: 16px;
      }
      .content ul li strong {
        color: #aaaaaa;
        font-size: 14px;
      }

      .content a {
        color: #007bff;
        text-decoration: none;
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: #ff4163;
        margin-bottom: 15px;
      }

      /* Footer Styles */
      .footer {
        text-align: center;
        font-size: 12px;
        color: #888888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="https://res.cloudinary.com/highdatamx/image/upload/v1678250963/WEB_ASSETS/wanevdhmy6s4d9q99kyt.png"
        />
        <div class="date-container">
          <h3 id="date" class="date">{{fecha}}</h3>
          <h3 class="cotizacion">Cotización: {{numCotizacion}}</h3>
        </div>
      </div>
      <div class="content">
        <h2>Sistema Fotovoltáico</h2>
        <p><span style=" color: white">{{nombre}}</span></p>
        <p>Datos del proyecto:</p>
        <ul>
          <li><strong>Consumo bimestral :   </strong> {{consumoBimestral}} kWh</li>
          <li><strong>Potencia Requerida :   </strong> {{potenciaRequerida}} kW</li>
          <li><strong>Paneles requeridos :   </strong> {{numPaneles}}</li>
          {{inversores}}
        </ul>
        <p>Ahorro con el sistema:</p>
        <ul>
          <li><strong>Producción diaria :   </strong> {{produccionDiaria}} kWh</li>
          <li><strong>Producción bimestral :   </strong> {{produccionBimestral}} kWh</li>
          <li><strong>Ahorro estimado anual :   </strong> {{ahorroAnual}} MXN</li>
          <li><strong>Retorno de inversión aproximado :   </strong> {{ROI}} años</li>
        </ul>
        <div class="container-precio">

            <p style="font-size: 20px;color: white; font-weight: 600; margin-top: 40px;">Costo del proyecto:</p>
            <ul>
                <li><strong>Paneles e inversores:    </strong>$ {{precioEquipos}} MXN</li>
                <li><strong>Soportería, ductos y material de instalación:    </strong>$ {{precioMateriales}} MXN</li>
                <li><strong>Instalación:    </strong>$ {{precioInstalacion}} MXN</li>
                <div class="line"></div>
                <li><strong>SUBTOTAL:    </strong>$ {{precioSubTotal}} MXN</li>
                <li><strong>IVA:    </strong>$ {{IVA}} MXN</li>
                <li><strong>TOTAL:    </strong>$ {{precioTotal}} MXN</li>
        </div>
        <p class="marked-text">¡Gracias por ponerte en contacto con HighData!</p>
        <p class="anuncio">
          Esta es una cotización preeliminar. Lo que significa que los costos de instalación y de materiales están calculados bajo condiciones estandar. 
          En la mayoría de los casos no cambia, pero podría pasar. Por eso te recomendamos ponerte en contacto con nosotros por whatsapp o correo electrónico para confirmar algunos detalles del sitio de instalación.
          <br><br>Los precios están actualizados a la fecha de esta cotización y será válida por 15 días.
        </p>
        
      </div>
      
    </div>
  </body>
</html>
